@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

#container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.6fr 0.6fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr 0.1fr;
  grid-template-areas:
   "x a a a"
   "b b b b"
   "g h i i"
   "c d e y"
   "f f f f";
}

.learnmore {
  grid-area: g;
  background-color: #836EAA;
  text-align: center;
}

.watchvideo {
  grid-area: h;
  background-color: #836EAA;
  text-align: center;
}

.joincall {
  grid-area: i;
  background-color: #836EAA;
  text-align: center;
}



.top {
  background-color: #4E2A84;
  grid-area: b;
  padding-top: 0px;
}

.logo {
  grid-area: x;
  margin: 0px;
  background-color: #4E2A84;
  padding-left: 20px;
  padding-top: 20px;
}

.logoclass {
  height: 80px;
  width: auto;
}

.icons {
  grid-area: a;
  background-color: #4E2A84;
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}

.icon {
  color: white;
  text-align: center;
  justify-content: center;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 35px;
  color: white;
  text-align: center;
}

h3 {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
}

li {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
}

.left {
  background-color: #836EAA;
  grid-area: c;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
}

.video {
  background-color: #836EAA;
  grid-area: d;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.zoomcalls1 {
  background-color: #836EAA;
  grid-area: e;
  padding: 10px;
  text-align: center;
}

.zoomcalls2 {
  background-color: #836EAA;
  grid-area: y;
  padding: 10px;
  text-align: center;
}

.end {
  background-color: #4E2A84;
  grid-area: f
}

.icon:hover {
  animation: scaleupdark 400ms;
  transform: scale(1.2);
  text-shadow: 2px 2px 5px #4E2A84;
}

.icons .icon{
  margin-left: 5px;
  margin-right: 5px;
}

.icons .icon:hover{
  animation: scaleuplight 400ms;
  text-shadow: 2px 2px 5px #836EAA;
  transform: scale(1.2);
}

.left a {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: white;
  text-align: center;
  justify-content: center;
}

.left a:hover{
  animation: scaleupdark 400ms;
  transform: scale(1.2);
  text-shadow: 2px 2px 5px #4E2A84;
}


@keyframes scaleupdark {
  0%{transform: scale(1);
    text-shadow: none;}
  100%{transform: scale(1.2);
      text-shadow: 2px 2px 5px #4E2A84;}
}

@keyframes scaleuplight {
  0%{transform: scale(1);
    text-shadow: none;}
  100%{transform: scale(1.2);
      text-shadow: 2px 2px 5px #836EAA;}
}
