@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

#container {
/*  background-repeat:repeat; */
/*  background-position: auto; */
  background-color: #BBA2E2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.35fr 0.2fr 1fr 0.1fr;
  grid-template-areas:
   "a b b"
   "c c c"
   "d d d"
   "u i g"
   "h h h";
}

#learnmore{
  display: grid;
  background-color: #BBA2E2;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.35fr 0.2 1fr 1fr 0.3fr;
  grid-template-areas:
   "a b b"
   "c c c "
   "d d d"
   "m e f"
   "j k l"
   "h h h";
}

.a {
  background-color: #4E2A84;
  grid-area: a;
  padding: 10px;
}

.b {
  background-color: #4E2A84;
  grid-area: b;
  padding: 10px;
  text-align: right;
  justify-content: center;
}

.c {
/*  background-color: #4E2A84; */
  grid-area: c;
  padding: 10px;
  padding-top: 25px;
}

.d {
  grid-area: d;
  padding-top: 20px;
  justify-content: center;
}

.e {
  grid-area: e;
  margin: 15px;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
  padding-bottom: 20px;
  transform-style:preserve-3d;
  transition: all 0.5s ease;
}

.f {
  grid-area: f;
  margin: 15px;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
  padding-bottom: 20px;
  transform-style:preserve-3d;
  transition: all 0.5s ease;
}

.g {
  background-color: #FFFFFF;
  box-shadow: 5px 5px #9A73D3;
  border: 4px solid black;
  grid-area: g;
  margin: 15px;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
  padding-bottom: 20px;
  min-height: 500px;
}

.u {
  background-color: #FFFFFF;
  box-shadow: 5px 5px #9A73D3;
  border: 4px solid black;
  grid-area: u;
  margin: 15px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
  min-height: 500px;
}

.i {
  background-color: #FFFFFF;
  box-shadow: 5px 5px #9A73D3;
  border: 4px solid black;
  grid-area: i;
  margin: 15px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
  min-height: 500px;
}

.h {
  background-color: #4E2A84;
  grid-area: h;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.j {
  grid-area: j;
  margin: 15px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
  transform-style:preserve-3d;
  transition: all 0.5s ease;
  min-height: 250px;
}

.box {
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.k {
  grid-area: k;
  margin: 15px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
  transform-style:preserve-3d;
  transition: all 0.5s ease;
}

.l {
  grid-area: l;
  margin: 15px;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
  padding-bottom: 20px;
  transform-style:preserve-3d;
  transition: all 0.5s ease;
}

.m {
  grid-area: m;
  margin: 15px;
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
  padding-bottom: 20px;
  transform-style:preserve-3d;
  transition: all 0.5s ease;
  min-height: 250px;
}

.arrow {
  color: #4E2A84;
}

.buttonlink {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: #FFFFFF;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
  background-color: #BBA2E2;
  text-align: center;
  padding: 15px;
  box-shadow: 7px 7px #FFFFFF;
  text-decoration: none;
}

.buttonlink:hover {
  animation: darken 400ms;
  background-color: #8E64CE;
}

.buttonlink:active{
  box-shadow: 4px 4px #FFFFFF;
  transform: translateY(3px);
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  margin: 1px;
  animation: fadein ease 3s;
}

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 35px;
  color: #FFFFFF;
  text-align: center;
  margin: 1px;
  animation: fadein ease 3s;
}

h3 {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: #4E2A84;
  text-align: center;
  margin: 1px;
  animation: fadein ease 3s;
}

h4 {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: #4E2A84;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  animation: fadein ease 3s;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #4E2A84;
  margin: 5px;
  animation: fadein ease 3s;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 35%, #4E2A84 0%);
}

.icon{
  margin-left: 5px;
  margin-right: 5px;
  color: #FFFFFF;
}

.icon:hover{
  animation: scaleuplight 400ms;
  text-shadow: 2px 2px 5px #836EAA;
  transform: scale(1.1);
}

.logoclass {
  height: 50px;
  width: auto;
}

a {
  text-decoration: none;
}

.h a {
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
  animation: fadein ease 3s;
}

.faded {
  animation: fadein ease 3s;
}

.fadeleft {
  animation: fadeOutLeft;
  animation-duration: 2s;
  animation-play-state: running;
}

/* ANIMATIONS */

.grow:hover {
  animation: scaleup ease 500ms;
  transform: scale(1.05);
}

.fadedown {
  animation: fadeIn;
  animation-duration: 3s;
}

@keyframes scaleupdark {
  0%{transform: scale(1);
    text-shadow: none;}
  100%{transform: scale(1.2);
      text-shadow: 2px 2px 5px #4E2A84;}
}

@keyframes scaleup {
  0%{transform: scale(1);}
  100%{transform: scale(1.05);}
}

@keyframes scaleuplight {
  0%{transform: scale(1);
    text-shadow: none;}
  100%{transform: scale(1.1);
      text-shadow: 2px 2px 5px #836EAA;}
}

@keyframes darken{
  0%{background-color: #BBA2E2;}
  100%{background-color: #8E64CE;}
}
