@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

#zoomcalls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.35fr 0.2 1.5fr 0.3fr;
  grid-template-areas:
   "a b"
   "c c"
   "x x"
   "w r"
   "h h";
   background-image: url("images/purplefleck.png");
   background-repeat: repeat;
}

.a {
  background-color: #4E2A84;
  grid-area: a;
  padding: 10px;
}

.b {
  background-color: #4E2A84;
  grid-area: b;
  padding: 10px;
  text-align: right;
  justify-content: center;
}

.c {
  background-color: #4E2A84;
  grid-area: c;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.x {
  background-color: #4E2A84;
  grid-area: x;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.w {
  background-color: white;
  box-shadow: 5px 5px #BBA2E2;
  border: 4px solid black;
  grid-area: w;
  margin: 15px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.r{
  background-color: white;
  box-shadow: 5px 5px #BBA2E2;
  border: 4px solid black;
  grid-area: r;
  margin: 15px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.t {
  background-color: white;
  box-shadow: 5px 5px #BBA2E2;
  border: 4px solid black;
  grid-area: t;
  margin: 15px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.s {
  background-color: white;
  box-shadow: 5px 5px #BBA2E2;
  border: 4px solid black;
  grid-area: s;
  margin: 15px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.callicon {
  color: #4E2A84;
  margin-top: 25px;
  margin-bottom: 25px;
}

.grow:hover {
  animation: scaleup ease 500ms;
  transform: scale(1.05);
}

@keyframes scaleup {
  0%{transform: scale(1);}
  100%{transform: scale(1.05);}
}

@media (max-width: 900px) {
  #zoomcalls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.35fr 0.2 1fr 1fr 0.3fr;
    grid-template-areas:
     "a b"
     "c c"
     "x x"
     "w r"
     "t s"
     "h h";
  }
  }

@media (max-width: 667px) {

  #zoomcalls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.35fr 0.2 0.8fr 0.8fr 0.8fr 0.8fr 0.3fr;
    grid-template-areas:
     "a b"
     "c c"
     "x x"
     "w w"
     "r r"
     "t t"
     "s s"
     "h h";
  }
}
